.html, body{
	height: 100%;
	background: white;
}
header .jumbotron{
	position: relative;
	background-color: #590004;
	height: 100px;
	margin: 0px;
}
.titulo-header{
	position: relative;
	top: 5px;
	font-size: 32px;
	color: #F3F3F3;
}
footer {
  height: 24px;
  background-color: #590004;
  color: #F3F3F3;
  box-shadow: 0 0 5px black;
  text-align: center;
  display: block;;
}
#votarbackground{
	background: url('../img/23enero3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
  background-attachment: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main{
	min-height: calc(100vh - 164px)!important;
	background: url('../img/23enero3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
  background-attachment: fixed;
}
.loginBox{
	position: relative;
	top: 25px;
	background-color: rgba(233, 236, 239, 0.8);
}
.loginText{
	font-size: 26px;
}
#comunasLogo{
	position: absolute;
	top: -4px;
	right: 5px;
	height: 100px;
	width: 100px;
}
#gbvLogo, .gbvLogo{
	position: absolute;
	top: 0px;
	left: 5px;
	height: 100px;
	width:  300px;
}
.form-control{
	position: relative;
}
.form-group{
	position: relative;
}
.focused .form-label {
  transform: translateY(-120%) scale(0.75);
}
.form-label {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 16px;
  color: #999;
  background-color: transparent;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transform-origin: top left;
  pointer-events: none;
}
a{
	text-decoration: none!important;
}
.navbar-default{
	background-color: #250001;
	color: #F3F3F3;
}
@keyframes rebote{
	0%{transform: scale(1);}
	25%{transform: scale(1.05);}
	50%{transform: scale(1);}
	75%{transform: scale(1.05);}
	100%{transform: scale(1);}
}
.rebote{
	animation: rebote 1s ease;
}
.menuBox{
	position: relative;
	top: 20px;
	background-color: rgba(233, 236, 239, 0.8);
}
#menuContenedor{
	margin-top: 36px!important;
	margin-bottom: 36px!important;
	display: flex;
	gap: 4px;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}
#menuContenedor a{
	flex-basis: 300px;
	flex-shrink: 0;
	height: 300px;
}
#menuContenedor a {
	background-color: #2196F3AA;
	border: 2px solid #2196F3;
	font-weight: bold;
	transform: scale(0.9);
	transition: all;
	transition-duration: 0.5s;
	font-size: 20px;
	color: #EEEEEE;
	text-shadow: 0 0 2px black;
}

#menuContenedor a:hover {
	transform: scale(1);
}
#menuContenedor a img{
	display: block;
	height: 250px;
	width: 250px;
	margin: auto;
}
#menuContenedor a{
	pointer-events: auto;
}
.menuBox span{
	color: black;
	font-weight: bold;
	font-size: 24px;
}
h1,h2,h3,h4,h5{
	color: #250001;
}
.table{
	border: 2px solid black!important;
	background-color: #F3F3F3;
	text-align: center;
	box-shadow: 0 0 10px black;
}
.swal2-popup .table{
	box-shadow: none!important;
}
/*.table td, .table th{
	border: 2px solid black!important;
}*/
.table th{
	position: sticky;
	background-color: #250001;
	border: 2px solid #250001!important;
	color: white;
}
.tableElectores{
	box-shadow: none;
	background-color: white;
	border-color: black!important;
}
.tableElectores th{
	position: sticky;
	background-color: white;
	border: 2px solid black;
	color: black;
}
.tableElectores td{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-color: black!important;
}
.editarImg, .borrarImg{
	height: 25px;
	width: 25px;
}
.editarImg:hover, .borrarImg:hover{
	cursor: pointer;
	background-color: #FCBA04;
}
.titleBox{
	position: relative;
	top: 5px;
	background-color: rgba(233, 236, 239, 0.8);
	box-shadow: 0 0 10px black;
}
.cargandoText{
	position: relative;
	top: -4px;
	left: 4px;
}
.verUnidades, .verComites, #link, .cambiarVotosMaximos{
	cursor: pointer;
	color: #2196F3;
}
.swal2-popup{
	box-shadow: 0 0 15px black;
	min-width: 500px;
}
.w-13{
	width: 13%;
}
.comiteEleccion{
	cursor: pointer;
}
#listaPersonas{
	position: absolute;
	z-index: 9999;
	background-color: white;
	width: 100%;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #ced4da;
	cursor: pointer;
}
#listaPersonas .persona{
	display: block;
}
#listaPersonas .persona:hover{
	background-color: #2196F3;
	color: black;
}
.spinner-input-ajax{
	position: absolute;
    top: 2px;
    right: 5px;
}
.boletaElectoral{
	margin: auto;
	width: 95%;
	height: auto;
	background-color: white;
	box-shadow: 0 0 10px black;
	padding: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.tarjetaElectoral{
	position: relative;
	width: 370px;
	border: 2px solid black;
	border-bottom: 1px solid black;
	display: inline-block;
	margin: 10px;
	align-self: stretch;
}
.tarjetaElectoralBoleta{
	position: relative;
	width: 370px;
	border: 2px solid black;
	border-bottom: 1px solid black;
	display: inline-block;
	margin: 10px;
	align-self: stretch;
}
.candidatoElectoral, .candidatoElectoralBoleta{
	margin-left: 2px;
	position: relative;
	border-bottom: 1px solid black;
	border-top: none;
	height: 50px;
	padding: 0px;
	transition-duration: 0.3s;
}
.candidatoElectoral img, .candidatoElectoralBoleta img{
	position: relative;
	top: 0px;
	margin-top: 1.5px;
	height: 50px;
	width: 50px;
	border-right: 1px solid black;
}
.nombreCandidato{
	text-align: left;
	width: 260px;
	position: absolute;
	top: 12px;
	left: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.votosCandidato{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 16px;
	border-left: 2px solid black;
	height: 48px;
	width: 50px;
	text-align: center;
	line-height: 48px;
}
.votosCandidato span{
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}
.candidatoElectoral:hover{
	cursor: pointer;
	transform: scale(1.01);
}
.fotoPersona{
	position: absolute;
	top: -1px;
	left: -118px;
	margin: auto;
	width: 93px;
	height: 93px;
	border: 1px solid #ced4da;
	cursor: pointer;
}
.fotoPersona span{
	position: relative;
	top: 35px;
	color: #999;
}
.fotoGroup{
	position: relative;
    width: 75%;
    right: 0px;
    left: 25%;
}
.formAgregarPersona .form-group input{
	width: 170px;
}
.formAgregarPersona .ml{
	margin-left: 13px;
}
.formAgregarPersona .form-group select{
	padding: 2px;
	width: 105px;
	margin-left: 13px;
}
.formAgregarPersona .form-group .spanGenero{
	margin-left: 13px;
}
#fotoPersonaPreview{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 91px;
	height: 91px;
}
.nombreUnidadElectoral{
	display: block;
	min-height: 20px;
	width: 100%;
	text-align: center;
	padding: 4px;
	border-bottom: 1px solid black;
}
.fotoCandidato{
	padding: 0px;
}
.fotoCandidato img{
	position: relative;
	top: -2px;
	left: -2px;
}
.nombreComiteElectoral{
	display: block;
	min-height: 10px;
	width: 100%;
	text-align: center;
	padding: 4px;
	border-bottom: 1px solid black;
}
@media print
{    
    .no-print, .no-print *{
      display: none!important;
    }
    .print{
    	display: block!important;
    }
    .titulo-header{
    	color: black!important;
    }
}
.btn[disabled]{
	cursor: not-allowed;
}
.checkCandidato{
	position: absolute;
	right: 7px;
	top: 7px;
	height: 35px;
	width: 35px;
	border-radius: 4px;
	border: 2px solid black;
	pointer-events: none;
}
.candidatoElectoral:hover .checkmark{
	background-color: #4d9447;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 31px;
  width: 31px;
  background-color: #eee;
}


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4d9447;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 11px;
  top: 3px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.disabled{
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.disabled:hover{
	cursor: not-allowed;
}
.maquinas-votantes-container{
	width: 80%;
	background-color: rgba(233, 236, 239, 0.8);
	min-height: 150px;
	display: block;
	margin: auto;
}
.maquina-votante{
	margin: 10px;
	display: inline-block;
	position: relative;
	height: 178px;
	width: 100px;
	border: 1px solid black;
	background-color: white;
	border-radius: 4px;
}
.maquina-votante-img{
	margin-top: 2px;
	height: 80px;
	width: 100%;
	background: url('../img/pc.png');
	background-size: 100% 100%;
	background-position: center;
}
.maquina-votante-img img{
	background-color: gray;
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 0 0 4px black;
	padding: 4px;
	margin-top: 6px;
	height: 45px;
	width: 45px;
}
.maquina-votante-img img:hover{
	background-color: #2196F3;
}
.maquina-votante-ip{
	display: block;
	width: 100px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
.graciasParticipacion{
	position: relative;
	top: 30%;
	display: block;
	font-size: 54px;
}
.jumbotron{
	margin: 0px;
}
#datos-ajax{
	position: absolute;
	background-color: white;
	z-index: 9999;
	width: 100%;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #ced4da;
}
#datos-ajax .personaVotante:hover{
	background-color: #2196F3;
	color: white;
	cursor: pointer;
}
input[readonly]{
	background-color: white!important;
}
input[disabled]{
	background-color: #eee!important;
}
.fechaEleccionFinalizada, .fechaEleccionFinalizada:hover{
	color: black;
}
.table-excel tr, .table-excel td, .table-excel th{
	border: 1px solid gray;
}
.spinner-border{
	background-color: transparent!important;
}
.actividad{
	width:25px;
	height:25px;
	right:4px;
	box-shadow: 2px solid black;
	border-radius: 4px;
	cursor: pointer;
}
.actividad:hover{
	background-color: #2196CC!important;
}
.paginacion-item-ajax{
	cursor: pointer;
}
.swal2-close{
	outline: none!important;
}
@keyframes guardarVotacionSwal{
	0%{transform: scale(0);}
	100%{transform: scale(1.0);}
}
.guardarVotacionSwal{
	animation: guardarVotacionSwal 0.25s ease;
}